<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LcbApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_lcb_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_lcb_logo_round"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.LCB_Template"
        tools:replace="android:name,android:usesCleartextTraffic">
        <!-- 测试广告不展示 Native Validator 浮层，原生广告请求与渲染保持不变。 -->
        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".news.ui.NewsDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="false" />
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
    </application>

</manifest>
